# To separate your traces from other application
LANGSMITH_API_KEY=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
TAVILY_API_KEY=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
GOOGLE_API_KEY=AIzaSyBrF_mF6jBkNKFL8FkAPzPFh-gCQJaZVk0


# Add API keys for connecting to LLM providers, data sources, and other integrations here
